.work-history {
  grid-area: work-history;
  display: flex;
  flex-direction: column;
}

.work-history-title {
  display: flex;
  justify-content: center;
}

.work-history-company {
  display: flex;
}

.work-history-item {
  display: flex;
}

.work-history-list {
  display: flex;
  flex-direction: column;
}

.work-history-position {
  display: grid;
  grid-gap: 1rem;
  margin: auto;
  grid-template-areas:
    "title ..."
    "dates ..."
    "location ..."
    "description description"
    "... ...";
}

.work-history-position-title {
  display: flex;
  grid-area: title;
  /* border: 1px solid white; */
}

.work-history-position-title > h4 {
  padding: 0;
  margin: 0;
}

.work-history-dates {
  display: flex;
  flex: 1 1 auto;
  grid-area: dates;
}

.work-history-location {
  display: flex;
  flex: 1 1 auto;
  font-style: italic;
  grid-area: location;
}

.work-history-description {
  grid-area: description;
  line-height: 1.2rem;
}
