.blurb {
  grid-area: blurb;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}

.blurb-heading {
  display: flex;
}

.blurb-text {
  display: flex;
  flex-direction: column;
  line-height: 1.35rem;
}
