.systems {
  grid-area: systems;
  display: flex;
  flex-direction: column;
}

.systems-title {
  display: flex;
}

.systems-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
}

.systems-platform {
  display: flex;
  align-self: flex-start;
}

.systems-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.systems-list > ul > li {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  list-style-type: none;
  margin: 0.15rem;
}
