.learn-next {
  grid-area: learn-next;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}
.learn-next-title {
  display: flex;
  justify-content: flex-start;
}

.learn-next-list {
  display: flex;
  flex-direction: column;
}

.learn-next-list li {
  list-style-type: none;
  padding: 1rem;
}
