.open-source {
  grid-area: open-source;
  display: flex;
  flex-direction: column;
}

.open-source-title {
  display: flex;
}

.open-source-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}

.open-source-list li {
  list-style-type: none;
}
