.App {
  display: grid;
  min-height: 200vh;
  padding: 2rem;
  margin: 0 5rem;
  grid-template-areas:
    "... header header ..."
    "... blurb blurb ..."
    "vendor-tech work-history work-history side-projects"
    "open-source work-history work-history programming"
    "systems work-history work-history learn-next";
  grid-gap: 2rem;
}

.App > * {
  padding: 1rem;
  border: 0.5px #d0edf1 double;
  background-color: #181e34;
}
