.App {
  display: grid;
  min-height: 200vh;
  /* width: calc(85vw); */
  margin: 0 10rem;
  grid-template-areas:
    "header header header"
    "blurb blurb blurb"
    "vendor-tech work-history side-projects"
    "open-source work-history programming"
    "systems work-history learn-next";
  grid-gap: 4rem;
}
